{% extends './basemobile.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}
{% set user = getUser() %}
<div>
{% block header %}
{{ render( controller("users:users:header" )) }}
{% endblock %}
</div>
<div id='bandeauTitre'>
  <BR><BR><BR>
    <div id="arianeID">
  </div>
</div>

<script language="JavaScript">
history.pushState(null, null, location.href);
    window.onpopstate = function () {
        mobile.goBack() ;
        history.go(1) ;
    };
</script>

<div id="DIV_MainMenu" class="myBody">
  <BR><BR><BR>
  <div class="containerButton masquer" id='DIV_button_Erreur'>
    <button class="btn" id='errorLink'>Erreurs</button>
  </div>
  <BR>
  <div class="containerButton masquer" id='DIV_button_parcourir'>
    <button class="btn" id='parcourirLink'>Parcourir</button>
  </div>
  <BR>
  <div class="containerButton masquer" id='DIV_button_utilisateurs'>
    <button class="btn" id='utilisateursLink'>Utilisateurs</button>
  </div>
  <BR>
  <div class="containerButton masquer" id='DIV_button_search'>
    <button class="btn" id='searchLink'>Rechercher</button>
  </div>
</div>

<div id="DIV_erreurs" style="display:none">
  <div id="DIV_BackErreur">
    <img id='backfromErreur' class="backLink" alt='Retour'><BR>
  </div>
  <span id="idErreurList"></span>
  <div id="TableJS"></div>
</div>

<div id="DIV_search" style="display:none">
  <div id="DIV_BackSearch">
    <img id='backfromSearch' class="backLink" alt='Retour'><BR>
  </div>
  <input id="texteSearch"> <button id='goSearch'>Rechercher</button> <BR> <BR>
  <span id="idSearchList"></span>
</div>

<div id="DIV_utilisateurs" style="display:none">
  <div id="DIV_BackUtilisateur">
    <img id='backfromUtilisateurs' class="backLink" alt='Retour'><BR>
  </div>
  <span id="idUtilisateursList"></span>
</div>

<div id="DIV_Parcourir" style="display:none">
  <div id="memorisation" class="memorisation">
    <button id="cleanMemo">X</button>
    Origine :
    <span id="memoId"></span>
  </div>

  <div id="DIV_Parcourir_Back">
    <img id='backFromParcourir' class="backLink" alt='Retour'><BR>
  </div>
  <div id="DIV_vis"></div>

  <span id="actionPortOne"></span>
</div>

{% endblock %}
