{% extends './basemobile.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}
{% set user = getUser() %}
<div>
{% block header %}
{{ render( controller("users:users:header" )) }}
{% endblock %}
</div>
<div id='bandeauTitre'>
  <div>
  <BR><BR><BR>
  </div>
</div>

<div id="DIV_MainMenu" class="myBody">
  <BR><BR><BR>
  <div class="containerButton" id='DIV_button_Erreur'>
    <button class="btn" href="#" id='errorLink'>Erreurs</button>
  </div>
  <BR>
  <div class="containerButton">
    <button class="btn" href="#" id='parcourirLink'>Parcourir</button>
  </div>
  <BR>
  <div class="containerButton">
    <button class="btn" href="#" id='utilisateursLink'>Utilisateurs</button>
  </div>
  <BR>
  <div class="containerButton">
    <button class="btn" href="#" id='searchLink'>Rechercher</button>
  </div>
</div>

<div id="DIV_Naviguer" style="display:none">
  <div>
    <select id="listeUser" name="listeUser" >
      <option value="0">Choisir un utilisateur</option>
    </select>
    <button id='filterUser'>F</button>
  </div>
  <div>
    <select id="listeSite" name="listeSite">
      <option value="0">Choisir un site</option>
    </select>
    <button id='filterSite'>F</button>
  </div>
  <div></div>
  <div>
    <select id="listeSalle" name="listeSalle">
      <option value="0">Choisir une salle</option>
    </select>
    <button id='filterSalle'>F</button>
  </div>
  <div></div>
  <div>
    <select id="listeBaie" name="listeBaie">
      <option value="0">Choisir une baie</option>
    </select>
    <button id='filterBaie'>F</button>
  </div>
  <div></div>
  <div>
    <select id="listeEquipement" name="listeEquipement">
      <option value="0">Choisir un équipement</option>
    </select>
    <button id='filterEquipement'>F</button>
  </div>
  <div></div>
  <div>
    <select id="listePort" name="listePort" >
      <option value="0">Choisir un port</option>
    </select>
    <button id='filterPort'>F</button>
  </div>
</div>

<div id="DIV_erreurs" style="display:none">
  <div id="DIV_BackErreur">
    <img id='backfromErreur' class="backLink" alt='Retour'><BR>
  </div>
  <span id="idErreurList"></span>
</div>

<div id="DIV_search" style="display:none">
  <div id="DIV_BackSearch">
    <img id='backfromSearch' class="backLink" alt='Retour'><BR>
  </div>
  <input id="texteSearch"> <button href="#" id='goSearch'>Rechercher</button> <BR> <BR>
  <span id="idSearchList"></span>
</div>

<div id="DIV_utilisateurs" style="display:none">
  <div id="DIV_BackUtilisateur">
    <img id='backfromUtilisateurs' class="backLink" alt='Retour'><BR>
  </div>
  <span id="idUtilisateursList"></span>
</div>

<div id="DIV_Parcourir" style="display:none">
  <div id="memorisation" class="memorisation">
    <button id="cleanMemo">X</button>
    Origine :
    <span id="memoId"></span>
  </div>

  <div id="DIV_Parcourir_Back">
    <img id='backFromParcourir' class="backLink" alt='Retour'><BR>
  </div>

  <div id="DIV_vis">
  </div>
  <span id="actionPortOne"></span>
</div>

{% endblock %}
