p {
  color: blue;
  font-size: 12px;
}

h1 {
  background-color: white;
  color: black;
  text-align: center;
}

.backLink {
  width: 40px;
  height: 40px;
  float: right;
  content: url('../public/images/go-back.png');
}

.A_tooltip {
     color: #000000;
     /* text-shadow: 0 -1px 0 black;  */
}

.A_tooltip:hover, .A_tooltip:focus{
     background: rgba(250,250,250,.4);
     box-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.A_tooltip span{
    position:absolute;
    margin-top:23px;
    margin-left:-35px;
    color:#000;
    font-size: small;
    background:rgba(200,200,200,.9);
    padding:5px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    visibility: hidden;
}

.A_tooltip:hover span, .A_tooltip:focus span{
     transform: scale(1) rotate(0);
     visibility: visible;
}
